/* orange: #d9593d; */

/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background-color: #fff;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 80px; }

/* span classes */

.white {
text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
letter-spacing: 15px;
font-size: 150%;
}

.separator {
    margin: 75px auto;
    width: 50%;
    border : 0;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(217, 217, 217), rgba(0, 0, 0, 0)); 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(217, 217, 217), rgba(0, 0, 0, 0)); 
}

.hero-small-text {
    font-size:150%;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/* HEADINGS */
h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 700;
}


h2 {
    font-size: 180%;
    text-align: center; 
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #0000ff;
    content: " ";
    width: 117px;
    margin: 15px auto;
    margin-bottom: 65px;
}

h3 {
    font-size: 130%;
}

/* ICONS */
.icon-big { font-size: 220%; }

/* PARAGRAPH */
p {
    line-height: 145%;
    color: #333333;
}

.long-text {
    width: 70%;   
    margin-left: 15%;
    text-align: center;
}

/* ------------------------------------ */
/* LANDING PAGE */
/* ------------------------------------ */
header {
    /* https://www.pexels.com/ */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(web-development2-final.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(web-development2-final.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


/* NAV */
.main-nav {
    text-align: right;
    list-style: none;
    margin-top: 35px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:2;
}

.main-nav li {
    display: inline-block;
    margin: 0 18px 0 11px;
    line-height: 135%;
    vertical-align: bottom;
    font-size: 17px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
    border: 2px solid transparent;
    font-size: 90%;
    -webkit-transition: border-bottom .3s;
    transition: border-bottom .3s;
}

.main-nav li a:hover,
.main-nav li a:active { border-bottom: 2px solid #d9593d; }

/* STICKY NAV */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 62px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px #000;
    z-index: 9999;
}

.sticky .main-nav { margin: 20px 0 15px; }

.sticky .logo { margin-top: 15px; }

/* HERO TEXT */
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* ------------------------------------ */
/* ABOUT ME */
/* ------------------------------------ */
.selfie {
    border-radius:50%;
    margin:24px 0 14px;
    width:200px;
}

/* ------------------------------------ */
/* SKILLS */
/* ------------------------------------ */

.skillset {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.skill-set { background-color: #f5f5f5; }


.logos {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.logos strong { font-size: 80%; }

.skills-logo:first-child { margin-left: 16px; }
.skills-logo {
    display: inline-block;
    max-width: 90px;
    text-align: center;
    margin: 0 25px 15px 0;
}
.skills-logo:last-child { margin-right: 0; }

/* ------------------------------------ */
/* ABOUT ME */
/* ------------------------------------ */
.selfie {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
    border-radius: 100em 100em 100em 100em;   
} 

/* ------------------------------------ */
/* PORTFOLIO */
/* ------------------------------------ */

.portfolio { background-color: #f5f5f5; }

.port-wrapper a {
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

.mock-up { 
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}

.tools-used-list {
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tools-used-list li {
    padding: 3px 6px;
    background-color: #291AE0;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-transform:uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-left: 5px;
}

.tools-used-list ul li+li {
    margin-left: 5px;
}

/* ------------------------------------ */
/* CONTACT */
/* ------------------------------------ */

.contact {
    text-align: center;
    width: 55%;
    margin: 0 auto 35px auto;
}

.button a {
    width:140px;
    padding:10px 10px;
    margin: 0 auto 0 auto;
    border-radius:5px;
    text-align:center;
    background-color: #000000;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:800;
    font-size:14px;
    border: 2px solid yellow;
    text-decoration: none;
    color: #ffff00;
    display: flex;
    justify-content: center;
}



.button a:hover {
    background-color: #ffff00;
    border: 2px solid black;
    color: #000000;
    display: flex;
    justify-content: center;
}

/* ------------------------------------ */
/* ANIMATION */
/* ------------------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10,
.js--wp-11 {
    opacity: 0;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
 
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated,
.js--wp-10.animated,
.js--wp-11.animated { opacity: 1; }
