

h1 {
    text-align: center;
    color: white;
    font-family: 'open sans',arial,sans-serif;
}

ul {
    color:white;
    margin-left:100px;
    font-family: 'open sans',arial,sans-serif;
}

div {

  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, black); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top, black);
  background: -webkit-linear-gradient(top, #B00000);
  background: -webkit-linear-gradient(top, #B0C4);
  background: -webkit-linear-gradient(top, #191970);
  background: black -webkit-linear-gradient(black 0, #778899 100%);
  background: black linear-gradient(black 0, #778899 100%); /* Standard syntax */
}

html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    zoom: 150%;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
