<body  ng-app="weatherApp" ng-controller="weatherCtrl"ng-style="weatherBackground" >
<div class="text-center info">
  <h1> {{city}}</h1>
  <h1>{{channelInfo.heading}}</h1>
  <h2>{{channelInfo.subheading1}}</h2>
  <a ng-href="http://www.{{channelInfo.subheading2}}" target="blank"><h3>{{channelInfo.subheading2}}</h3></a>
  <a class ="btn-lg btn-primary">{{description | uppercase}}  <img id="weatherIcon" ng-src="{{icon}}"/></a>
 <a class ="btn-lg btn-primary"> {{speed}}</a>
 <a class ="btn-lg btn-primary"> {{name}}</a>
  <a class ="btn-lg btn-primary" ng-init="tempVal=true" ng-show="tempVal" ng-click="tempVal=!tempVal">{{cTemp}}</a>
   <a class ="btn-lg btn-primary" ng-show="!tempVal" ng-click="tempVal=!tempVal">{{fTemp}}</a>
  <a ng-href="https://www.{{channelInfo.subheading2}}" target="blank">
 <img ng-src="{{channelInfo.logo}}" id="logo"/>
  </a>
  <a ng-href="http://www.{{channelInfo.subheading3}}">
  <img id="patreon" src="http://www.codingtutorials360.com/startbootstrap-landing-page-1.0.5/img/patreon.png"/>
  </a>
</div>
</body>
