h1 {
  font-family: "Georgia";
}

body {
  background-image: url( "https://cdn.pixabay.com/photo/2015/07/27/20/27/mountains-863474_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  text-align: center;
}

#quoteDisplay {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-size: 20px;
  font-family: cursive;
  color: #black;
  
}
button {
  color: #black;
  font-family: Helvetica;
}

#buttons {
  display: inline-block;
}

#bottom {
  position: fixed;
  bottom: 0;
  color: white;
}
