h1 {
  font-family: cursive;
}

body {
  background-image: url( "https://static.pexels.com/photos/202384/pexels-photo-202384.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  text-align: center;
}

#quoteDisplay {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  font-size: 20px;
  font-family: "Georgia";
  color: #black;
  font-weight: bold;
}

button {
  color: #black;
  font-family: Helvetica;
}

#buttons {
  display: inline-block;
}

#bottom {
  position: fixed;
  bottom: 0;
  color: white;
}
