body {
  background-color: #ffdab9;
}

h1 {
  font-family: cursive;
}

hr {
  border-top: 5px solid black;
}

img {
  height: 100px;
  width: 100px;
}

.row {
  border: 1px solid;
  border-radius: 25px;
  color: black;
  font-family: cursive;
  font-size: 20px;
  margin: 10px;
 }

#bottom {
  position: fixed;
  bottom: 0;
  color: black;
  text-shadow: 1px 1px #000000;
}
